<!DOCTYPE html>
<html>
    <head>
        <title>
            The Hangman Game
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        Wins: {{ res[0] }}
        <br>
        Loses: {{ res[1] }}
        <div class="kbc">
            <label for="kbdcheck">Allow keyboard guessing</label>
            {% if kbd %}
                <input type="checkbox" id="kbdcheck" checked>
            {% else %}
                <input type="checkbox" id="kbdcheck">
            {% endif %}

        </div>

        {% if imgWrong > 0 %}
            <img src="{{ url_for('static', filename='Images/'+ imgWrong | string +'.png')}}">
        {% endif %}

        <div class="interaction">
            {% if win != False %}
                <div class="word">{{ pword }}</div>
            {% endif %}
            
            <div class="keys">
                {% if win == False %}
                    <h1 class="result">You lost!</h1>
                    <h2>The word was <p class="word">{{ word }}</p></h2>
                    <h2>To play again click <a href="{{ url_for('index') }}" class="reload">here</a>!</h2>
                {% elif win == True%}
                    <h1 class="result">You won!</h1>
                    <h2>To play again click <a href="{{ url_for('index') }}" class="reload">here</a>!</h2>
                {% else %}
                    {% for letter in letters %}
                        {% if letter not in guessed %}
                            <a href="{{ url_for('guess', letter=letter) }}" class="key">{{ letter }}</a>
                        {% else %}
                            <div class="key guessed">{{ letter }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <script>
            const alphabet = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"]

            document.addEventListener("keydown", function(event) {
                keyboardCheck = document.getElementById("kbdcheck");
                if(keyboardCheck.checked == true) {
                    const key = event.key;
                    if(alphabet.indexOf(key) >= 0) {
                        window.location.href = "/" + key + "?kbd=true"
                    }
                }
            })

            if(document.getElementById("kbdcheck").checked == true) {
                document.getElementById("kbdcheck").addEventListener("click", function(event) {
                    window.location.href = "/-?kbd=false"
                })
            }
        </script>
    </body>
</html>